

<div class="col-md-4" >
<div class="item-box-blog">
  <div class="item-box-blog-image">
    <!--Date-->
    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon"><%= post.created_at.strftime("%b") %> <%= post.created_at.strftime("%d") %> <%= post.created_at.strftime("%Y") %></span> </div>
    <!--Image-->
    <figure> <img alt="" src=<%= (url_for(post.upload_image || "")) if post.upload_image.attached? %>> </figure>

  </div>
  <div class="item-box-blog-body">
    <!--Heading-->
    <div class="item-box-blog-heading">
      
        <h5><%= link_to post.title, post_path(post.id) %> </h5>
      
      
    </div>
    <!--Data-->
    <div class="item-box-blog-data" style="padding: px 15px;">
      <p><i class="fa fa-user-o"></i> Posted by: <%= post.user.firstname %> <i class="fa fa-comments-o"></i> Comments(<%= post.comments.count %>)</p>
      <p> <i class="fa fa-thumbs-up"></i> Likes(<%= post.likes.count %>)</p>
    </div>
    <!--Text-->
    <div class="item-box-blog-text">
      <p><%= post.content %></p>
    </div>
    <div class="mt">  <%= link_to "read more", post_path(post.id), class: "btn bg-blue-ui white read" %> </div>
   
  </div>
</div>
</div>