

<div class="container cta-100 ">
<div class="container">
<div class="page-title">
      
<span class ="page-title"><h2><%= @post.title %></h2>
 <div class="btn-group">
            <a class="btn btn-sm btn-default btn-hover-success" href="#"><i class="fa fa-thumbs-up"></i></a>
            <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
          </div>

</div>

  <div class="row blog">
  <div class="item-box-blog">


  <div class="item-box-blog-image">
    <!--Date-->
    
    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon"><%= @post.created_at.strftime("%b") %> <%= @post.created_at.strftime("%d") %> <%= @post.created_at.strftime("%Y") %></span> </div>
    <!--Image-->
    <figure> <img alt="" src="https://cdn.pixabay.com/photo/2017/02/08/14/25/computer-2048983_960_720.jpg"> </figure>
  </div>
  <div class="item-box-blog-body">
  
    <div class="item-box-blog-text">
      <p><%= @post.content %></p>
    </div>
   
   
  </div>
</div>
          </div>
        </div>


<span class ="page-title"><h3>Comments (<%= @post.count_comments %>)</h3>

     
<div class="container bootdey">
<div class="col-md-12 bootstrap snippets">
<div class="panel">
  <div class="panel-body">
    <textarea class="form-control" rows="2" placeholder="Write a comment?"></textarea>
    <div class="mar-top clearfix">
      <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Submit comment</button>
     
    </div>
  </div>
</div>
<div class="panel">
    <div class="panel-body">
    <!-- Newsfeed Content -->
    <!--===================================================-->
    <% @post.comments.each do |comment| %>
     
    <div class="media-block">
      <a class="media-left img-circle img-sm" href="#"><i class="fa fa-user fa-lg"></i></a>
      <div class="media-body">
        <div class="mar-btm">
          <a href="#" class="btn-link text-semibold media-heading box-inline"><%= comment.user.firstname %></a>
          <p class="text-muted text-sm">
          <%= comment.created_at.strftime("%d") %> <%= comment.created_at.strftime("%b") %> <%= comment.created_at.strftime("%Y") %>  <%= comment.created_at.strftime("%H") %>:<%= comment.created_at.strftime("%M") %>
         </p>
        </div>
        <p><%= comment.content %></p>
        <div class="pad-ver">
          <div class="btn-group">
            <a class="btn btn-sm btn-default btn-hover-success" href="#"><i class="fa fa-thumbs-up"></i></a>
            <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
          </div>
          <a class="btn btn-sm btn-default btn-hover-primary" href="#">Comment</a>
        </div>
        <hr>

       <% comment.children.each do |child_comment| %>
        <!-- Comments -->
        <div>
          <div class="media-block">
            <a class="media-left img-circle img-sm" href="#"><i class="fa fa-user fa-lg"></i></a>
            <div class="media-body">
              <div class="mar-btm">
                <a href="#" class="btn-link text-semibold media-heading box-inline"><%= child_comment.user.firstname %></a>
               <p class="text-muted text-sm">
                <%= child_comment.created_at.strftime("%d") %> <%= child_comment.created_at.strftime("%b") %> <%= child_comment.created_at.strftime("%Y") %>  <%= child_comment.created_at.strftime("%H") %>:<%= child_comment.created_at.strftime("%M") %>
              </p>
              </div>
              <p><%= child_comment.content %></p>
              <div class="pad-ver">
                <div class="btn-group">
                  <a class="btn btn-sm btn-default btn-hover-success active" href="#"><i class="fa fa-thumbs-up"></i> You Like it</a>
                  <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
                </div>
                <a class="btn btn-sm btn-default btn-hover-primary" href="#">Comment</a>
              </div>
              <hr>
            </div>
          </div>
          <% end %>


        </div>
      </div>
    </div>
    <!--===================================================-->
    <!-- End Newsfeed Content -->

<% end %>
  
  </div>
</div>
</div>
</div>