

<div class="container cta-100 ">
<div class="container">
<div class="page-title">
      
<span class ="page-title"><h2><%= @post.title %></h2>

 <p ><i class="fa fa-thumbs-up"></i><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? "Like" : "Likes" %>, 


<% pre_like = @post.likes.find { |like| like.user_id == current_user.id } %>
<% if pre_like %>
You liked this post 
  <%= button_to "Unlike", post_like_path(@post, pre_like), method: :delete, class: "btn btn-sm btn-primary fa fa-thumbs-down" %>
<% else %>
  <%= button_to "Like", post_likes_path(@post), method: :post, class: "btn btn-sm btn-default btn-hover-success" %>
<% end %>
</p>


  <div class="row blog">
  <div class="item-box-blog">


  <div class="item-box-blog-image">
    <!--Date-->
    
    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon"><%= @post.created_at.strftime("%b") %> <%= @post.created_at.strftime("%d") %> <%= @post.created_at.strftime("%Y") %></span> </div>
    <!--Image-->
    <figure> <img alt="" src=<%= (url_for(@post.upload_image)) if @post.upload_image.attached? %>> </figure>
  </div>
  <div class="item-box-blog-body">
  
    <div class="item-box-blog-text">
      <p><%= @post.content %></p>
    </div>
   
   
  </div>
</div>
          </div>
        </div>


<span class ="page-title"><h3>Comments (<%= @post.comments.count %>)</h3>

     
<div class="container bootdey">
<div class="col-md-12 bootstrap snippets">
 <%= render "comments/form" %>

<div class="panel">
    <div class="panel-body">
    <!-- Newsfeed Content -->
    <!--===================================================-->
    <% @post.comments.each do |comment| %>
     
    <div class="media-block">
      <a class="media-left img-circle img-sm" href="#"><i class="fa fa-user fa-lg"></i></a>
      <div class="media-body">
        <div class="mar-btm">
          <a href="#" class="btn-link text-semibold media-heading box-inline"><%= comment.user.firstname %></a>
          <p class="text-muted text-sm">
          <%= comment.created_at.strftime("%d") %> <%= comment.created_at.strftime("%b") %> <%= comment.created_at.strftime("%Y") %>  <%= comment.created_at.strftime("%H") %>:<%= comment.created_at.strftime("%M") %>
         </p>
        </div>
        <p><%= comment.content %></p>
        <div class="pad-ver">
        <%= render "comments/comment_form", comment: comment %>
        </div>
        <hr>

       <% comment.children.each do |child_comment| %>
        <!-- Comments -->
        <div>
          <div class="media-block">
            <a class="media-left img-circle img-sm" href="#"><i class="fa fa-user fa-lg"></i></a>
            <div class="media-body">
              <div class="mar-btm">
                <a href="#" class="btn-link text-semibold media-heading box-inline"><%= child_comment.user.firstname %></a>
               <p class="text-muted text-sm">
                <%= child_comment.created_at.strftime("%d") %> <%= child_comment.created_at.strftime("%b") %> <%= child_comment.created_at.strftime("%Y") %>  <%= child_comment.created_at.strftime("%H") %>:<%= child_comment.created_at.strftime("%M") %>
              </p>
              </div>
              <p><%= child_comment.content %></p>
             
              <hr>
            </div>
          </div>
          <% end %>


        </div>
      </div>
    </div>
    <!--===================================================-->
    <!-- End Newsfeed Content -->

<% end %>
  
  </div>
</div>
</div>
</div>